<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Witaj w aplikacji Rezerwacji</h1>
    <p>To jest aplikacja do rezerwacji miejsc pracy.</p>
    <p>Aby kontynuować, zaloguj się, korzystając z poniższego przycisku.</p>
    <a href="/login" class="login-button">Zaloguj się</a>
</body>
</html>